/* from aimeos.css */
.aimeos {
    clear: both;
}
aimeos .loading {
    background-image: url(media/progress.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.aimeos-spinner {
    background-image: url(media/spinner.gif);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.aimeos-overlay {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.aimeos-container {
    position: absolute;
    z-index: 1001;
    opacity: 1;
    border: solid 1px #D0D0D0;
    background-color: #FFFFFF;
    max-width: 65em;
    width: 98%;
    padding: 1%;
}

.aimeos .price-item:first-of-type .quantity,
.aimeos .price-item:first-of-type .rebate,
.aimeos .price-item:first-of-type .costs,
.aimeos .price-item:first-of-type .taxrate {
    display: none;
}

/* Product detail, basket section */
.catalog-detail-basket {
    margin: 1% 0;
    clear: right;
}

.catalog-detail-basket .price-list {
    display: none;
    color: #555;
}

.catalog-list-items .price,
.catalog-detail-basket .price {
    display: none;
}

.catalog-list-items .price-actual,
.catalog-detail-basket .price-actual {
    display: inline-block;
}

.catalog-detail-basket .price-item:first-of-type {
    display: block;
    cursor: pointer;
}

.catalog-detail-basket .price-item:first-of-type:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
}

.catalog-detail-basket .price-item.toggle-js:first-of-type:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f106";
}

.catalog-detail-basket .price-item:last-of-type:after {
    content: "";
}

.catalog-detail-basket .price-item .quantity,
.catalog-detail-basket .price-item .value,
.catalog-detail-basket .price-item .costs,
.catalog-detail-basket .price-item .rebate,
.catalog-detail-basket .price-item .taxrate {
    vertical-align: middle;
    display: inline-block;
    margin: 0.25em 0;
    min-width: 4em;
}

.catalog-detail-basket .price-item .rebatepercent {
    min-width: auto;
}

.catalog-detail-basket .price-item:first-of-type .taxrate {
    display: inline-block;
    padding: 0 1em;
}

.catalog-detail-basket .price-item:first-of-type .quantity,
.catalog-detail-basket .price-item .rebate,
.catalog-detail-basket .price-item .taxrate {
    display: none;
}

.catalog-detail-basket .price-item .taxrate {
    font-size: 80%;
}

/* product attributes */
.catalog-detail-basket .selection,
.catalog-detail-basket-attribute {
    margin: 1.5em 0;
}

.catalog-list-items .selection,
.catalog-detail-basket .selection,
.catalog-detail-basket-attribute {
    color: #555;
    width: 100%;
    padding: 0;
}

.catalog-list-items .selection,
.catalog-detail-basket .selection .selection,
.catalog-detail-basket-attribute .selection {
    padding: 0;
}

.catalog-list-items .selection .select-attr,
.catalog-detail-basket .selection .select-attr,
.catalog-detail-basket-attribute .selection .select-attr {
    width: 25%;
}

.catalog-list-items .selection .select-stock,
.catalog-detail-basket .selection .select-stock {
    text-align: center;
    width: 10%;
}

.catalog-list-items .selection .select-stock .stockitem,
.catalog-detail-basket .selection .select-stock .stockitem,
.catalog-list-items .selection .select-stock .stocklevel,
.catalog-detail-basket .selection .select-stock .stocklevel {
    display: block;
}

.catalog-list-items .selection .select-stock .stocktext,
.catalog-detail-basket .selection .select-stock .stocktext {
    display: none;
}

.catalog-list-items .selection .select-quantity,
.catalog-detail-basket .selection .select-quantity,
.catalog-detail-basket-attribute .selection .select-quantity {
    text-align: center;
    width: 15%;
}

.catalog-list-items .selection .select-item,
.catalog-detail-basket .selection .select-item,
.catalog-detail-basket-attribute .select-item {
    margin-top: 1em;
    list-style: none;
}

.catalog-list-items .selection .select-name,
.catalog-detail-basket .selection .select-name,
.catalog-detail-basket-attribute .select-name {
    min-width: 5em;
}

.catalog-list-items .selection .select-hint,
.catalog-detail-basket .selection .select-hint,
.catalog-detail-basket-attribute .select-hint {
    font-size: 80%;
    min-width: 5em;
}

.catalog-list-items .selection ul.select-list,
.catalog-detail-basket .selection ul.select-list {
    padding: 0;
}

.catalog-list-items .selection li.select-entry,
.catalog-detail-basket .selection li.select-entry {
    list-style: none;
}

.catalog-list-items .selection .radio li.select-entry,
.catalog-detail-basket .selection .radio li.select-entry {
    display: inline-block;
    margin: 0;
}

.catalog-list-items .selection .radio input.select-option,
.catalog-detail-basket .selection .radio input.select-option {
    display: none;
}

.catalog-list-items .selection .select-label,
.catalog-detail-basket .selection .select-label {
    width: calc(100% - 4em);
    font-weight: normal;
}

.catalog-list-items .selection .color .select-label,
.catalog-detail-basket .selection .color .select-label {
    border: solid 1px #FFF;
    line-height: 0;
}

.catalog-list-items .selection .select-label > span,
.catalog-detail-basket .selection .select-label > span {
    padding: 0 0.25em;
    min-width: 1.5em;
}





.catalog-list-items .selection .select-option:disabled + .select-label,
.catalog-detail-basket .selection .select-option:disabled + .select-label {
    opacity: 0.25;
}

.catalog-list-items .selection .input .select-entry,
.catalog-detail-basket .selection .input .select-entry {
    margin: 0.1em 0;
}

.catalog-list-items .selection input.select-option[type=number],
.catalog-detail-basket .selection input.select-option[type=number] {
    border: solid 1px #B0A060;
    text-align: center;
    padding: 0;
    width: 4em;
}

.catalog-list-items .selection .custom input[type=number],
.catalog-detail-basket .selection .custom input[type=number] {
    text-align: center;
}

.catalog-list-items .selection .media-item,
.catalog-detail-basket .selection .media-item {
    display: inline-block;
    line-height: 0;
    padding: 0;
    margin: 0;
}

.catalog-list-items .selection .media-item > img,
.catalog-detail-basket .selection .media-item > img {
    border: none;
    height: 1.33em;
    width: 1.33em;
}

.catalog-list-items .selection .media-item + span,
.catalog-detail-basket .selection .media-item + span {
    display: none;
}

.catalog-list-items .selection .error,
.catalog-detail-basket .selection .error {
    color: #FF3300;
}

.catalog-list-items .selection .error select,
.catalog-detail-basket .selection .error select {
    background-color: #ffeeee;
    border: solid 1px #FF3300;
}


/* Product list type switcher */
.catalog-list-type {
    text-align: right;
}

.catalog-list-type .type-item {
    padding: 0.5em;
}

.catalog-list-type .type-grid:after {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f00a";
}

.catalog-list-type .type-list:after {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f00b";
}



/* Product details */

/* Product images */
.catalog-detail-image {
    background-color: #ffffff;
    margin-bottom: 2em;
}



.catalog-detail-image .item {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    background-size: contain;
}

.catalog-detail-image .thumbs .item {
    display: inline-block;
    height: 105px;
    width: 80px;
    opacity: 0.7;
    margin: 0;
}

.catalog-detail-image .image-thumbs button {
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    padding: 0;
}

.catalog-detail-image .thumbs-vertical {
    display: inline-block;
    overflow: hidden;
    height: 533px;
    width: 80px;
}

.catalog-detail-image .thumbs-horizontal:not(button) {
    margin: 40px 0;
}
.catalog-detail-image .thumbs-vertical button {
    height: 40px;
    width: 80px;
}

.catalog-detail-image .thumbs-vertical .slick-prev {
    background-image: url('../media/arrow_small_top.png');
}

.catalog-detail-image .thumbs-vertical .slick-next {
    background-image: url('../media/arrow_small_bottom.png');
}

.catalog-detail-image .thumbs-horizontal {
    overflow: hidden;
    width: 100%;
    height: 105px;
}

.catalog-detail-image .thumbs-horizontal:not(button) {
    margin: 0 40px;
}

.catalog-detail-image .thumbs-horizontal button {
    display: inline-block;
    vertical-align: top;
    height: 105px;
    width: 40px;
}

.catalog-detail-image .thumbs-horizontal .thumbs {
    display: inline-block !important;
    width: calc(100% - 80px);
}

.catalog-detail-image .thumbs-horizontal .item {
    width: 80px;
}

.catalog-detail-image .thumbs-horizontal .slick-prev {
    background-image: url('../media/arrow_small_left.png');
}

.catalog-detail-image .thumbs-horizontal .slick-next {
    background-image: url('../media/arrow_small_right.png');
}

.catalog-detail-image .thumbs .selected,
.catalog-detail-image .thumbs .item:hover {
    opacity: 1;
}

.pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 1500;
    -webkit-text-size-adjust: 100%;
    /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: none; }

.pswp * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.pswp img {
    max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
    /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
    opacity: 0.001;
    will-change: opacity;
    /* for open/close transition */
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
    display: block; }

.pswp--zoom-allowed .pswp__img {
    /* autoprefixer: off */
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
    /* autoprefixer: off */
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab; }

.pswp--dragging .pswp__img {
    /* autoprefixer: off */
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing; }

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity; }

.pswp__scroll-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }

.pswp__container,
.pswp__zoom-wrap {
    -ms-touch-action: none;
    touch-action: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }

.pswp__zoom-wrap {
    position: absolute;
    width: 100%;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    /* for open/close transition */
    -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
    will-change: opacity;
    /* for open/close transition */
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
    -webkit-transition: none;
    transition: none; }

.pswp__container,
.pswp__zoom-wrap {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }

.pswp__item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden; }

.pswp__img {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0; }

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
    background: #222; }

.pswp--ie .pswp__img {
    width: 100% !important;
    height: auto !important;
    left: 0;
    top: 0; }

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-top: -8px;
    color: #CCC; }

.pswp__error-msg a {
    color: #CCC;
    text-decoration: underline;
}

.pswp__button {
    width: 44px;
    height: 44px;
    position: relative;
    background: none;
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    float: right;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-box-shadow: none;
    box-shadow: none; }
.pswp__button:focus,
.pswp__button:hover {
    opacity: 1; }
.pswp__button:active {
    outline: none;
    opacity: 0.9; }
.pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0; }

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
    opacity: 1; }

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    background: url(../media/pswp.png) 0 0 no-repeat;
    background-size: 264px 88px;
    width: 44px;
    height: 44px; }

/* root element of UI */
.pswp__ui {
    -webkit-font-smoothing: auto;
    visibility: visible;
    opacity: 1;
    z-index: 1550; }

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%; }

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity;
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    visibility: visible; }

.pswp__top-bar,
.pswp__caption {
    background-color: rgba(0, 0, 0, 0.5); }

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
    background-color: rgba(0, 0, 0, 0.3); }

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
    opacity: 0; }

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
    opacity: 0; }

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
    /* Force paint & create composition layer for controls. */
    opacity: 0.001; }

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
    display: none; }

.pswp__element--disabled {
    display: none !important; }

.pswp--minimal--dark .pswp__top-bar {
    background: none; }

.pswp__button--close {
    background-position: 0 -44px; }

.pswp__button--share {
    background-position: -44px -44px; }

.pswp__button--fs {
    display: none; }

.pswp--supports-fs .pswp__button--fs {
    display: block; }

.pswp--fs .pswp__button--fs {
    background-position: -44px 0; }

.pswp__button--zoom {
    display: none;
    background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom {
    display: block; }

.pswp--zoomed-in .pswp__button--zoom {
    background-position: -132px 0; }

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
    visibility: hidden; }

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
    background: none;
    top: 50%;
    margin-top: -50px;
    width: 70px;
    height: 100px;
    position: absolute; }

.pswp__button--arrow--left {
    left: 0; }

.pswp__button--arrow--right {
    right: 0; }

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    content: '';
    top: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 32px;
    position: absolute; }

.pswp__button--arrow--left:before {
    left: 6px;
    background-position: -138px -44px; }

.pswp__button--arrow--right:before {
    right: 6px;
    background-position: -94px -44px; }

/*
	2. Share modal/popup and links
 */
.pswp__counter,
.pswp__share-modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.pswp__share-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 1600;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity; }

.pswp__share-modal--hidden {
    display: none; }

.pswp__share-tooltip {
    z-index: 1620;
    position: absolute;
    background: #FFF;
    top: 56px;
    border-radius: 2px;
    display: block;
    width: auto;
    right: 44px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform; }
.pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px; }
.pswp__share-tooltip a:hover {
    text-decoration: none;
    color: #000; }
.pswp__share-tooltip a:first-child {
    /* round corners on the first/last list item */
    border-radius: 2px 2px 0 0; }
.pswp__share-tooltip a:last-child {
    border-radius: 0 0 2px 2px; }

.pswp__share-modal--fade-in {
    opacity: 1; }
.pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
    padding: 16px 12px; }

a.pswp__share--facebook:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    right: 15px;
    border: 6px solid transparent;
    border-bottom-color: #FFF;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none; }

a.pswp__share--facebook:hover {
    background: #3E5C9A;
    color: #FFF; }
a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A; }

a.pswp__share--twitter:hover {
    background: #55ACEE;
    color: #FFF; }

a.pswp__share--pinterest:hover {
    background: #CCC;
    color: #CE272D; }

a.pswp__share--download:hover {
    background: #DDD; }

/*
	3. Index indicator ("1 of X" counter)
 */
.pswp__counter {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    font-size: 13px;
    line-height: 44px;
    color: #FFF;
    opacity: 0.75;
    padding: 0 10px; }

/*

	4. Caption
 */
.pswp__caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 44px; }
.pswp__caption small {
    font-size: 11px;
    color: #BBB; }

.pswp__caption__center {
    text-align: left;
    max-width: 420px;
    margin: 0 auto;
    font-size: 13px;
    padding: 10px;
    line-height: 20px;
    color: #CCC; }

.pswp__caption--empty {
    display: none; }

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
    visibility: hidden; }

/*
	5. Loading indicator (preloader)
	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR
 */
.pswp__preloader {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    will-change: opacity;
    direction: ltr; }

.pswp__preloader__icn {
    width: 20px;
    height: 20px;
    margin: 12px; }

.pswp__preloader--active {
    opacity: 1; }
.pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support CSS animation */
    background: url(media/preloader.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active {
    opacity: 1; }
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite; }
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
    animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

.pswp--css_animation .pswp__preloader__icn {
    background: none;
    opacity: 0.75;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 15px;
    margin: 0; }

.pswp--css_animation .pswp__preloader__cut {
    /*
          The idea of animating inner circle is based on Polymer ("material") loading indicator
           by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
      */
    position: relative;
    width: 7px;
    height: 14px;
    overflow: hidden; }

.pswp--css_animation .pswp__preloader__donut {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #FFF;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin: 0; }

/* Common summary */
.aimeos .common-summary .error,
.aimeos .common-summary-detail .error {
    background-color: #ffeeee;
    border-bottom: 1px solid #FF3300;
}

.aimeos .common-summary .item li {
    vertical-align: top;
    padding: 0;
}

.aimeos .common-summary .content {
    margin: 0.5em;
    padding: 0.5em 1em;
}

.aimeos .common-summary .item .name {
    display: inline-block;
    vertical-align: top;
    color: #555;
    width: 198px;
}

.aimeos .common-summary .item .name:after {
    content: ":";
}

.aimeos .common-summary .item .value {
    display: inline-block;
    vertical-align: top;
    width: 198px;
}

.aimeos .common-summary .item h4,
.aimeos .common-summary .item .item-icons {
    vertical-align: middle;
    display: inline-block;
    margin: 0 1em;
}

.aimeos .common-summary .item .item-icons img {
    max-height: 4em;
}

.aimeos .common-summary .item .attr-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
}



.aimeos .common-summary-address h2,
.aimeos .common-summary-service h2,
.aimeos .common-summary-coupon h2 {
    display: none;
}

.aimeos .common-summary-service .item h4 {
    margin: 1em 0;
    padding: 0;
    color: #555;
    font-size: 1em;
}

.aimeos .common-summary-detail .header {
    border-bottom: none;
}

.aimeos .common-summary-detail .basket {
    margin: 0.5em;
    margin-top: 0;
}

.aimeos .common-summary-detail table {
    border-collapse: collapse;
    width: 100%;
}

.aimeos .common-summary-detail tbody tr {
    border-bottom: 1px solid #D0D0D0;
}

.aimeos .common-summary-detail thead {
    font-weight: bold;
    background-color: #F0F0F0;
}

.aimeos .common-summary-detail thead tr {
    border-bottom: 1px solid #D0D0D0;
    color: #555;
}

.aimeos .common-summary-detail tr.subtotal {
    color: #555;
}

.aimeos .common-summary-detail tr.total {
    border-top: 1px solid #D0D0D0;
    color: #555;
    background-color: #F0F0F0
}

.aimeos .common-summary-detail th,
.aimeos .common-summary-detail td {
    vertical-align: middle;
    padding: 0.5em;
}

.aimeos .common-summary-detail .image img.detail {
    max-width: 6em;
    max-height: 8em;
    overflow: hidden;
    margin-right: 5%;
}

.aimeos .common-summary-detail .details .product-name {
    margin: 0.5em;
    display: block;
}

.aimeos .common-summary-detail .code,
.aimeos .common-summary-detail .timeframe {
    margin: 0.5em;
}

.aimeos .common-summary-detail .code .name:after,
.aimeos .common-summary-detail .timeframe .name:after {
    content: ":";
}

.aimeos .common-summary-detail .code,
.aimeos .common-summary-detail .timeframe {
    margin: 0.5em;
}

.aimeos .common-summary-detail .attr-list {
    color: #555;
    margin: 0.5em;
    vertical-align: top;
}

.aimeos .common-summary-detail .attr-list li.attr-item {
    display: inline;
}

.aimeos .common-summary-detail .attr-list li.attr-item:not(:last-of-type) .value:after {
    content: ",";
}

.aimeos .common-summary-detail .attr-item .name:after {
    content: ":";
}



.aimeos .common-summary-detail th.price {
    width: 20%;
}

.aimeos .common-summary-detail th.quantity,
.aimeos .common-summary-detail td.quantity {
    white-space: nowrap;
    text-align: center;
}

.aimeos .common-summary-detail td.quantity input {
    display: inline-block;
    text-align: center;
    width: 3em;
}

.aimeos .common-summary-detail .action .delete:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 100%;
    content: "\f014";
}

.aimeos .common-summary-detail th.action,
.aimeos .common-summary-detail td.action {
    text-align: center;
}

.aimeos .common-summary-detail tr.delivery td:first-child:before,
.aimeos .common-summary-detail tr.payment td:first-child:before {
    content: "+ ";
}

.aimeos .common-summary-detail tfoot {
    vertical-align: bottom;
    font-weight: bold;
}

.aimeos .common-summary-detail tfoot .quantity,
.aimeos .common-summary-detail tfoot .delivery,
.aimeos .common-summary-detail tfoot .payment,
.aimeos .common-summary-detail tr.rebate,
.aimeos .common-summary-detail tr.tax {
    font-weight: normal;
}

.aimeos .common-summary-additional .coupon,
.aimeos .common-summary-additional .comment {
    vertical-align: top;
    height: 8em;
}

.aimeos .common-summary-additional .customerref-value {
    width: 100%;
}

.aimeos .common-summary-additional textarea {
    border: solid 1px #D0D0D0;
    width: 100%;
    height: 4em;
}

.aimeos .common-summary-detail tfoot tr.quantity,
.aimeos .common-summary-detail tr.subtotal,
.aimeos .common-summary-detail tr.delivery,
.aimeos .common-summary-detail tr.payment,
.aimeos .common-summary-detail tr.total,
.aimeos .common-summary-detail tr.rebate,
.aimeos .common-summary-detail tr.tax,
.aimeos .common-summary-detail th.unitprice,
.aimeos .common-summary-detail th.price,
.aimeos .common-summary-detail td.unitprice,
.aimeos .common-summary-detail td.price {
    text-align: right;
    white-space: nowrap;
}

.aimeos,
.aimeos h1, .aimeos h2,
.aimeos h3, .aimeos h4 {
    font-weight: normal;
    font-size: 100%;
    color: #555;
}

/* Product list, items section */
.catalog-list-items {
    margin: 1em 0;
    text-align: center;
}

.catalog-list-items .selection,
.catalog-list-items .attribute {
    clear: both;
}

.catalog-list-items .addbasket .input-group {
    padding: 2.25em 0;
    margin: auto;
}



.catalog-list-items .list .product a {
    vertical-align: top;
}

.catalog-list-items .list .media-list,
.catalog-list-items .list .text-list,
.catalog-list-items .list .basket,
.catalog-list-items .list .offer,
.catalog-list-items .list .addbasket {
    display: block;
    width: 240px;
    float: right;
}

.catalog-list-items .list .media-list {
    overflow: hidden;
    height: 320px;
    float: left;
}

.catalog-list-items .list .text-list h2 {
    font-weight: bold;
}

.catalog-list-items .list .text-item {
    color: #555;
}

.catalog-list-items .list .selection .select-value {
    margin: 0 !important;
}

.aimeos .list-items {
    text-align: center;
    font-size: 90%;
    padding: 0;
}

.catalog-list .product {
    border-bottom: 1px solid #B0A060;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    position: relative;
    overflow: hidden;
    font-size: 90%;
    margin: 1em 1%;
    width: 240px;
}

.catalog-list .product a {
    display: inline-block;
    text-decoration: none;
}


.aimeos a:link:not(.btn),
.aimeos a:visited:not(.btn) {
    color: #77d0e4;
}

/* media list */
.catalog-list .media-list {
    background-image: url(../img/logo/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 320px;
    width: 240px;
}

.aimeos .media-item {
    background-color: #FFFFFF;
}

.catalog-list .media-item {
    position: relative;
    height: 320px;
    width: 240px;
}

.catalog-list .media-item img {
    position: relative;
    max-width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aimeos .common-summary .header,
.aimeos .common-summary-detail .header {
    border-bottom: solid 1px #77d0e4;
    padding: 0.5em 1em;
    margin: 0.5em;
    margin-top: 0;
}

.aimeos .product .text-list h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 100%;
    overflow: hidden;
    height: 3em;
    margin: 0;
    margin-bottom: 1rem;
    padding-top: 5px;
}

.account-subscription .header,
.account-history .header,
.account-watch .header,
.account-favorite .header,
.basket-related-bought .header,
.catalog-session .header,
.catalog-detail .header {
    border-bottom: solid 1px #77d0e4;
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
    padding: 0.5em 1em;
    color: #555;
}

/* Standard basket */
.basket-standard-main {
    border: solid 1px #D0D0D0;
    padding: 1em;
    margin: 0;
}

.basket-standard-main td.quantity a,
.basket-standard-main td.action a {
    text-decoration: none;
}

.basket-standard-coupon {
    padding: 1em !important;
    text-align: center;
    margin: 0;
}

.basket-standard-coupon .header,
.basket-standard-coupon .content {
    vertical-align: middle;
    display: inline-block;
    width: 46%;
}

.basket-standard-coupon .header h2 {
    font-size: 1em;
    margin: 10px 0;
}

.basket-standard-coupon .attr-list {
    display: inline-block;
    font-weight: bold;
    list-style: none;
    margin: 0.5em;
}

.basket-standard-coupon .attr-item .coupon-code,
.basket-standard-coupon .attr-item .change {
    font-weight: bold;
    font-size: 133%;
    padding: 0.5em;
}

.basket-standard-coupon .coupon-new .btn {
    width: 3em;
}

.basket-standard-coupon .coupon-new .coupon-code {
    border: 1px solid #B0A060;
    width: calc(100% - 3em);
}

.coupon .minibutton.delete:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 125%;
    content: "\f014";
    display: inline-block;
}

@media (max-width: 480px) {
    .basket-standard-coupon .header,
    .basket-standard-coupon .content {
        display: block;
        width: 100%;
    }
}

.basket-related h1 {
    display: none;
}

.catalog-list li.product {
    border-bottom: 0px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    position: relative;
    overflow: hidden;
    font-size: 90%;
    margin: 1em 1%;
    width: 240px;
}

.aimeos a:link:not(.btn),
.aimeos a:visited:not(.btn) {
    color: #77d0e4;
}

.aimeos .browser {
    display: inline-block;
    white-space: nowrap;
    margin: 0 2%;
}

.aimeos .browser span,
.aimeos .browser a {
    display: inline-block;
    padding: 0 0.5em;
    color: #555;
    text-align: center;
    text-decoration: none;
}

.aimeos .sort {
    display: inline-block;
    margin: 0 2%;
}

.product-content .price-list .price-item .quantity,
/*.product-content .price-list .price-item .rebate,*/
.product-content .price-list .price-item .costs,
.product-content .price-list .price-item .taxrate {
    display: none;
}

.catalog-list-items .list .product {
    border-bottom: none;
    text-align: left;
    width: 481px;
}

.catalog-detail-image .image-single {
    background-image: url(media/aimeos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 533px;
    width: 100%;
}

.catalog-detail-image .image-single .media-item {
    position: relative;
    height: 533px;
    width: 100%;
}

.catalog-detail-image .image-single .media-item .item {
    transform: translate(-50%, -50%);
    position: relative;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
}

.catalog-list-items .selection .radio .select-label > span,
.catalog-detail-basket .selection .radio .select-label > span {
    text-align: center;
    min-width: 2.5em;
}

.catalog-list-items .selection .radio .select-label,
.catalog-detail-basket .selection .radio .select-label {
    border: solid 1px #ccc;
    padding: 0.5em;
    width: auto;
    border-radius: 20px;
}

.catalog-list-items .selection .select-option:checked + .select-label,
.catalog-detail-basket .selection .select-option:checked + .select-label {
    border: solid 1px #77d0e4;
    background-color: #77d0e4;
    color: #fff;
}

.catalog-detail-basket-selection li.color .media-item > img {
    border-radius: 20px;
}

.qty {
    border-radius: 20px !important;
    max-height: 38px;
}

.qty-text {
    padding: 0.5em 0;
}


/* add to basket */
.catalog-detail-basket .addbasket {
}

.catalog-detail-basket .addbasket .input-group {
    margin: auto;
}

/* from aimeos.css */



/*
 * Aimeos elegance template CSS
 *
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Aimeos (aimeos.org), 2014-2018
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot');
    src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff') format('woff'),
    url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
}





/*.aimeos .btn {*/
/*	vertical-align: top;*/
/*	font-weight: bold;*/
/*	border-radius: 0;*/
/*	width: 12em;*/
/*}*/

.aimeos .btn-primary,
.aimeos .btn-primary:active {
    background-color: #B0A060;
    border: solid 1px #B0A060;
}

.aimeos .btn-primary:hover {
    background-color: #C0B070;
    border: solid 1px #C0B070;
}

.aimeos .btn:focus,
.aimeos .form-control:focus {
    outline-style: none;
    box-shadow: none;
}

.aimeos .form-control {
    border-radius: 0;
    box-shadow: none;
    vertical-align: top;
}

.aimeos .input-group .btn {
    width: calc(100% - 4em);
}

.aimeos .addbasket .input-group {
    text-align: center;
}

.aimeos .addbasket input {
    border: solid 1px #B0A060;
    text-align: center;
    width: 4em;
}

.aimeos .input-group {
    width: 100%;
}

.aimeos .input-lg {
    height: auto;
}




.aimeos h1, .aimeos h2 {
    text-transform: uppercase;
}

.aimeos h1 {
    font-size: 125%;
}

.aimeos h2 {
    font-size: 110%;
}



.aimeos input {
    border: solid 1px #D0D0D0;
    text-indent: 0.25em;
}

.aimeos input:disabled {
    border-color: #D0D0D0;
    background-color: #eee;
}

.aimeos .minibutton {
    color: #D0D0D0;
    font-size: 150%;
    font-weight: bold;
    vertical-align: middle;
    min-width: 1em;
    padding: 0;
    margin: 0;
}

.aimeos .minibutton::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.aimeos .button-group {
    text-align: center;
    padding: 1em 0;
}

.aimeos .button-group .btn {
    margin: 0.25em;
}

.aimeos .error-list {
    background-color: #ffeeee;
    border: solid 1px #FF3300;
    padding: 0.5em;
    padding-left: 2em;
    margin-bottom: 2em;
    list-style: disc;
}

.aimeos .error-item {
    padding: 0.25em;
}

.aimeos .attr-list,
.aimeos .form-list {
    padding: 0;
    margin: 0;
}

.aimeos li.attr-item,
.aimeos li.form-item {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
}

.aimeos li.attr-item .name:after {
    content: ": ";
}

.aimeos .prototype {
    display: none;
}

.aimeos .lazy-image {
    background-image: url(media/progress.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



.aimeos .pagination {
    text-align: center;
    display: block;
    clear: left;
    color: #555;
    margin: 0;
}

.aimeos .sort ul {
    list-style: none outside none;
    display: inline;
    padding: 0;
    margin: 0;
}

.aimeos .sort ul li {
    display: inline;
}

.aimeos .sort a {
    text-decoration: none;
    white-space: nowrap;
    padding: 0 0.25em;
    color: #555;
}

.aimeos .sort a:hover {
    text-decoration: underline;
}

.aimeos .sort a.active {
    text-decoration: none;
    font-weight: bold;
}


.aimeos-container .btn-close {
    display: block;
    cursor: pointer;
    text-align: right;
}


.aimeos .price-list {
    font-weight: normal;
    color: #555;
    padding: 0;
    margin: 0;
}

.aimeos .price-item {
    display: none;
}

.aimeos .price-item:first-of-type {
    display: block;
}



.aimeos .price-item .rebatepercent {
    background-color: #A03030;
    padding: 0em 0.25em;
    margin-left: 1em;
    color: #FFF;
}


/* Locale selector */
.locale-select {
    display: inline-block;
}

.locale-select .header {
    display: none;
}

.locale-select ul.select-menu {
    text-transform: uppercase;
    position: relative;
    list-style: none;
    padding: 0em;
}

.locale-select li.select-dropdown {
    border: 1px solid transparent;
    display: inline-block;
    padding: 0;
}

.locale-select li.select-dropdown > a:before {
    content: "» ";
}

.locale-select ul.select-menu a {
    text-decoration: none;
    white-space: nowrap;
    display: block;
    color: #555;
    padding: 0.5em 1em;
}

.locale-select ul.select-menu a:hover {
    text-decoration: underline;
}

.locale-select ul.select-menu li.select-dropdown:hover > ul,
.locale-select ul.select-menu ul.active {
    border: solid 1px #D0D0D0;
    visibility: visible;
    opacity: 1;
}

.locale-select ul.select-menu ul {
    list-style: none outside none;
    background-color: #FFF;
    position: absolute;
    visibility: hidden;
    z-index: 99999;
    opacity: 0;
    padding: 0em;
    padding-left: 0.65em;
}

.locale-select-language,
.locale-select-currency {
    display: inline-block;
    min-width: 3em;
}


/* Catalog filter */
.catalog-filter {
    text-align: center;
}

.catalog-filter h1 {
    display: none;
}

.catalog-filter-tree .catcode-home > a {
    white-space: nowrap;
}

.catalog-filter-tree .catcode-home > a:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 133%;
    content: "\f015";
    color: #B0A060;
    vertical-align: bottom;
}

.catalog-filter-tree .media-list {
    display: inline-block;
    vertical-align: top;
    margin: 0px 0.5em;
}

.catalog-filter-tree .media-item img {
    height: 1.25em;
    width: 1.25em;
}

.catalog-filter-tree .disabled > .cat-item,
.catalog-filter-tree .disabled > .cat-item:link,
.catalog-filter-tree .disabled > .cat-item:visited,
.catalog-filter-supplier .disabled .attr-name,
.catalog-filter-attribute .disabled .attr-name {
    color: #B0B0B0;
}

.catalog-filter-tree .cat-count:before,
.catalog-filter-supplier .attr-count:before,
.catalog-filter-attribute .attr-count:before {
    content: " (";
}

.catalog-filter-tree .cat-count:after,
.catalog-filter-supplier .attr-count:after,
.catalog-filter-attribute .attr-count:after {
    content: ") ";
}

/* Catalog filter search section */
.catalog-filter-search > h2 {
    display: none;
}

/*.catalog-filter form, input {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #f37d8a;
}*/

.catalog-filter .search-hint {
    position: absolute;
    background-color: #ffeeee;
    border: solid 1px #FF3300;
    padding: 0.5em;
    color: #FF0000;
    z-index: 1000;
}

.catalog-filter-search .form-group {
    display: block;
}

.catalog-filter-search .value {
    background-color: #FFFFFF;
    border-right: none;
    min-width: 5em;
    width: 70%;
}

.catalog-filter-search .value {
    border-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    #border-right: none;
    border-width: 0px;
    margin: 0;
}

.catalog-filter-search .reset {
    background-color: #FFFFFF;
    border-color: #B0A060;
    border-right: none;
    border-left: none;
    width: 10% !important;
    margin: 0;
}

.catalog-filter-search .reset .symbol {
    vertical-align: top;
    font-weight: bold;
    color: #AAAAAA;
}

.catalog-filter-search .value[value=''] + .reset .symbol {
    visibility: hidden;
}

.catalog-filter-search .reset .symbol:before {
    content: "⨯";
}

.catalog-filter-search .btn-primary {
    width: 20% !important;
    margin: 0;
}

.catalog-filter-search .ui-helper-hidden-accessible {
    display: none;
}

/* Catalog filter, tree section */
.catalog-filter-tree {
    margin: 1em 0;
}

.catalog-filter-tree > h2 {
    border-bottom: solid 1px #B0A060;
    font-size: 100%;
    cursor: pointer;
    display: block;
    float: left;
    width: 33.33%;
    padding: 0.5em;
    margin: 0 0 1em 0;
}

.catalog-filter-tree ul {
    text-align: left;
    list-style: none;
    padding-left: 10%;
}

.catalog-filter-tree > ul {
    padding: 0.5em 0;
    display: none;
    clear: both;
}

html.no-js .catalog-filter-tree:hover > ul {
    display: block;
}

.catalog-filter-tree li {
    padding: 0;
}

.catalog-filter-tree > ul > li {
    padding: 0.5em 0;
}

.catalog-filter-tree a.cat-item {
    border-bottom: solid 1px #B0A060;
    white-space: nowrap;
    padding: 0.5em 0;
    display: block;
    color: #555;
}

.catalog-filter-tree a.cat-item:hover {
    text-decoration: underline;
    color: #555;
}

.catalog-filter-tree .category-selected {
    display: none;
    text-align: left;
    clear: both;
}

.catalog-filter-tree .category-selected .selected-intro:after {
    content: ":";
}

.catalog-filter-tree .category-selected .selected-category {
    border: solid 1px #D0D0D0;
    display: inline-block;
    margin: 0.5em;
    padding: 0 0.25em;
}

.catalog-filter-tree .category-selected .selected-category:after {
    content: " ×";
}

/* Catalog filter, attribute and supplier section */
.catalog-filter-attribute {
    margin: 1em 0;
}

.catalog-filter-attribute > h2,
.catalog-filter-supplier > h2 {
    border-bottom: solid 1px #B0A060;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    width: 33.33%;
    float: left;
    display: block;
    padding: 0.5em;
    margin: 0 0 1em 0;
}

.catalog-filter-attribute .attribute-lists,
.catalog-filter-supplier .supplier-lists {
    text-align: left;
    display: none;
    clear: both;
}

html.no-js .catalog-filter-attribute:hover .attribute-lists,
html.no-js .catalog-filter-supplier:hover .supplier-lists {
    display: block;
}

.catalog-filter-attribute .attribute-selected {
    clear: both;
    padding: 0;
}

.catalog-filter-attribute .attribute-selected .selected-intro:after {
    content: ":";
}

.catalog-filter-attribute .attribute-selected .attr-list {
    display: inline-block;
}

.catalog-filter-attribute .attribute-selected .attr-item {
    display: inline-block;
}

.catalog-filter-attribute .attribute-selected .selected-all,
.catalog-filter-attribute .attribute-selected .attr-name {
    border: solid 1px #D0D0D0;
    display: inline-block;
    margin: 0.5em;
    padding: 0 0.25em;
}

.catalog-filter-attribute .attribute-selected .selected-all:after,
.catalog-filter-attribute .attribute-selected .attr-name:after {
    content: " ×";
}

.catalog-filter-attribute fieldset,
.catalog-filter-supplier fieldset {
    border-left: 1px solid #D0D0D0;
    background-color: #FFF;
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    text-align: left;
    min-width: 160px;
    width: 29.9%;
    color: #555;
    line-height: 1;
    margin: 0.5em 0;
    clear: both;
}

.catalog-filter-attribute legend {
    border: none;
    border-left: 1px solid #D0D0D0;
    cursor: pointer;
    font-size: 100%;
    padding: 0.5em;
    width: auto;
    margin: 0;
    left: -1px;
    position: relative;
}

.catalog-filter-attribute legend:before {
    content: "▼ ";
}

.catalog-filter-attribute .attribute-lists .attr-list,
.catalog-filter-supplier .supplier-lists .attr-list {
    overflow: auto;
    padding: 0 0.5em;
    height: 12em;
}

.catalog-filter-attribute .attribute-lists li.attr-item,
.catalog-filter-supplier .supplier-lists li.attr-item {
    display: block;
    padding: 0.4em 0;
    margin: 0;
}

.catalog-filter-attribute input.attr-item,
.catalog-filter-supplier input.attr-item {
    border: 1px solid #D0D0D0;
}

.catalog-filter-attribute input.attr-item[type=checkbox],
.catalog-filter-supplier input.attr-item[type=checkbox] {
    display: none;
}

.catalog-filter-attribute input.attr-item[type=checkbox]:checked + label:before,
.catalog-filter-supplier input.attr-item[type=checkbox]:checked + label:before {
    content: "\2713";
}

.catalog-filter-attribute label:before,
.catalog-filter-supplier label:before {
    border: solid 1px #555;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    content: "";
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
}

.catalog-filter-attribute .media-list,
.catalog-filter-supplier .media-list {
    display: inline-block;
}

.catalog-filter-attribute .media-item img,
.catalog-filter-supplier .media-item img {
    height: 1em;
    width: 1em;
}

.catalog-filter-attribute .attr-name,
.catalog-filter-attribute .attr-count,
.catalog-filter-supplier .attr-name,
.catalog-filter-supplier .attr-count {
    font-weight: normal;
    cursor: pointer;
}

.catalog-filter-attribute .attr-length li.attr-item,
.catalog-filter-attribute .attr-width li.attr-item,
.catalog-filter-supplier .attr-length li.attr-item,
.catalog-filter-supplier .attr-width li.attr-item {
    display: inline-block;
    min-width: 7.5em;
    width: 50%;
}


/* Product list, stage section */
.catalog-stage {
    color: #B0A060;
    clear: both;
}

.catalog-stage-image img {
    width: 100%;
}

.catalog-stage-breadcrumb {
    color: #555;
}

.catalog-stage-breadcrumb .breadcrumb {
    background-color: inherit;
    font-weight: normal;
    padding: 0.5em;
    margin: 0;
}

.catalog-stage-breadcrumb ol {
    display: inline;
    list-style: none;
    padding-left: 1em;
}

.catalog-stage-breadcrumb li {
    display: inline;
    white-space: nowrap;
}

.catalog-stage-breadcrumb li:after {
    content: ' / ';
}

.catalog-stage-breadcrumb li:last-child:after {
    content: '';
}

.catalog-stage-navigator {
    text-align: right;
    display: block;
    font-size: 90%;
    margin: 0.5em;
}

.catalog-stage-navigator a,
.catalog-stage-navigator a:focus,
.catalog-stage-navigator a:hover {
    text-decoration: none;
}

.catalog-stage-navigator a:before {
    content: '   |   ';
    white-space: pre;
}

.catalog-stage-navigator a:first-of-type:before {
    content: '';
}

.catalog-stage-navigator a.prev:before {
    content: '◀   ';
    white-space: pre;
}

.catalog-stage-navigator a.next:after {
    content: '   ▶';
    white-space: pre;
}


/* Suggested products */
.ui-autocomplete {
    overflow-y: auto;
    max-height: 25em;
    padding: 0;
}

.aimeos.catalog-suggest {
    border-bottom: solid 1px #CCC;
}

.aimeos.catalog-suggest:last-child {
    border: none;
}

.aimeos .suggest-item {
    text-decoration: none;
    padding: 0.5% 2.5%;
    display: table;
    width: 100%;
}

.aimeos .suggest-item .item-name {
    vertical-align: middle;
    display: inline-block;
    width: 40%;
}

.aimeos .suggest-item .item-price {
    vertical-align: middle;
    display: inline-block;
    width: 25%;
}

.aimeos .suggest-item .item-image {
    background-image: url(media/aimeos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
    height: 5em;
    width: 30%;
}


/* Product list */
.catalog-list a:focus {
    outline: none;
}









/* text list */
.aimeos .product .text-list {
    line-height: 1.1;
    overflow: hidden;
    color: #555;
    margin: 0.5em auto;
}

.catalog-detail .product .text-list,
.basket-related .product .text-list {
    margin: 0.5em 0;
}



.aimeos .product .text-list .text-item {
    overflow: hidden;
    height: 2em;
}

/* product offer part */
.catalog-list .offer {
    max-width: 15em;
    margin: auto;
}

/* price list */
.aimeos .product .price-list {
    box-sizing: content-box;
    display: inline-block;
}

.catalog-detail .product .price-list .rebate {
    display: none;
}

/* Stock level */
.aimeos .product .stock-list {
    display: inline-block;
}

.aimeos .product .stockitem {
    display: none;
    margin: 0 1em;
}

.aimeos .product .stock-actual .stockitem {
    display: inline-block;
}

.aimeos .product .stocklevel {
    vertical-align: middle;
    display: inline-block;
    height: 1em;
    width: 1em;
}

.aimeos .product .stocktext {
    display: none;
}

.aimeos .product .stock-unlimited .stocklevel,
.aimeos .product .stock-high .stocklevel {
    background-color: #006000;
}

.aimeos .product .stock-low .stocklevel {
    background-color: #E08000;
}

.aimeos .product .stock-out .stocklevel {
    background-color: #A00000;
}


/* List head section */
.catalog-list-head {
    padding: 1em 0.5em;
}

.catalog-list-head h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 0;
    margin: 0;
}

.catalog-list-head .short {
    font-weight: bold;
    padding: 0.5em 0;
    color: #555;
}

.catalog-list-head .long {
    padding: 0.5em 0;
    color: #555;
}

.catalog-list .list-search {
    font-weight: bold;
}

.catalog-list .searchstring {
    font-size: 133%;
    color: #555;
}

/* Product list, promotion section */
.catalog-list-promo {
    text-align: center;
    margin: 2em 0;
}

.catalog-list-promo .header {
    text-align: left;
    border: 0 none;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.5em;
    color: #555;
}

.catalog-list-promo .list-items {
    white-space: nowrap;
    overflow: auto;
    font-size: 90%;
    padding: 0;
}

.catalog-list-promo .product {
    border: none 0;
}







/* Product detail, basic section */
.catalog-detail-basic h1.name {
    text-transform: uppercase;
    font-size: 110%;
    color: #B0A060;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
}

.catalog-detail-basic .code {
    font-size: 80%;
}

.catalog-detail-basic .short {
    display: none;
}

@media (max-width: 480px) {
    .catalog-detail-basic {
        clear: both;
    }
}

/* Product detail, social section */
.catalog-detail .catalog-social {
    float: right;
    margin: 1em 0;
}

.catalog-detail .catalog-social .social-button {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 150%;
    padding: 0 0.33em;
}

.catalog-detail .catalog-social .social-button-facebook:before {
    content: "\f082";
}

.catalog-detail .catalog-social .social-button-gplus:before {
    content: "\f0d5";
}

.catalog-detail .catalog-social .social-button-twitter:before {
    content: "\f099";
}

.catalog-detail .catalog-social .social-button-pinterest:before {
    content: "\f0d2";
}

/* Product detail, action buttions */
.catalog-detail .catalog-actions {
    float: left;
    margin: 1em 0;
}

.catalog-detail .catalog-actions .actions-button {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 150%;
    padding: 0 0.5em;
}

.catalog-detail .catalog-actions .actions-button-favorite:before {
    content: "\f004";
}

.catalog-detail .catalog-actions .actions-button-pin:before {
    content: "\f08d";
}

.catalog-detail .catalog-actions .actions-button-watch:before {
    content: "\f06e";
}





/* services */
.catalog-detail-basket .service-intro {
    cursor: pointer;
    color: #B0A060;
}

.catalog-detail-service .service-list {
    list-style: none;
    color: #999;
    padding: 0;
    max-width: 20em;
    max-height: 10em;
    overflow-y: auto;
}

.catalog-detail-service .service-name {
    display: inline-block;
    min-width: 8em;
}

.catalog-detail-service .service-item .price-item {
    display: inline-block;
    text-align: right;
    min-width: 4em;
}

.catalog-detail-service .service-item .price-item .costs {
    display: block;
}

.catalog-detail-service .service-item .price-item .value,
.catalog-detail-service .service-item .price-item .taxrate {
    display: none;
}

.catalog-detail-service .service-item .service-short {
    display: none;
}


/* Product detail, additional section */
.catalog-detail-additional {
    width: 100%;
    clear: both;
    padding: 1% 0;
}

.catalog-detail-additional .header {
    cursor: pointer;
}

.catalog-detail-additional .header:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 120%;
    content: "\f196";
    float: right;
}

.catalog-detail-additional .header.toggle-js:after {
    content: "\f147";
}

.catalog-detail-additional .content {
    list-style: none;
    padding: 1%;
}

.catalog-detail-additional .item {
    padding: 1%;
}

/* Hide attributes and properties from sub-products*/
.catalog-detail-additional .subproduct {
    display: none;
}
.catalog-detail-additional .subproduct-actual {
    display: table-row;
}

/* Product detail, additional attributes/properties section */
.catalog-detail-additional table.attributes,
.catalog-detail-additional table.properties {
    margin: 1%;
    width: 98%;
}

.catalog-detail-additional .attributes td,
.catalog-detail-additional .properties td {
    padding: 1%;
    width: 48%;
}

.catalog-detail-additional .attributes .media-list {
    display: inline-block;
}

.catalog-detail-additional .attributes .media-item {
    display: inline-block;
}

.catalog-detail-additional .attributes img {
    height: 1em;
}

/* Product detail, additional download section */
.catalog-detail-additional .downloads .media-image {
    height: 3em;
}


/* Supplier information */
.catalog-detail-supplier .content .supplier-name {
    text-transform: uppercase;
    margin: 1em 0;
}

.catalog-detail-supplier .content {
    padding: 1%;
}

.catalog-detail-supplier .media-item {
    float: right;
    margin: 1em;
}

.catalog-detail-supplier .media-item img {
    max-width: 400px;
    width: 100%;
}


/* Stock level */
.aimeos .catalog-detail-basket .stock-list {
    text-align: center;
    padding: 0.5em 0;
    width: 100%;
}

.aimeos .catalog-detail-basket .stock-actual .stockitem {
    display: block;
}

.aimeos .catalog-detail-basket .stocklevel {
    display: none;
}

.aimeos .catalog-detail-basket .stocktext {
    display: block;
}

.aimeos .catalog-detail-basket .stock-unlimited,
.aimeos .catalog-detail-basket .stock-high {
    color: #006000;
}

.aimeos .catalog-detail-basket .stock-low {
    color: #E08000;
}

.aimeos .catalog-detail-basket .stock-out {
    color: #A00000;
}


/* Watched, favorite, suggested products and session items */
.account-watch,
.account-favorite,
.basket-related-bought,
.catalog-detail-bought,
.catalog-detail-bundle,
.catalog-detail-suggest,
.catalog-session {
    clear: both;
    padding: 1em 0;
    text-align: center;
}

.account-watch,
.account-favorite,
.catalog-session-pinned,
.catalog-session-seen {
    margin-bottom: 0.5em;
    font-size: 90%;
}

.account-watch .watch-items,
.account-favorite .favorite-items,
.basket-related-bought .list-items,
.catalog-detail-bought .list-items,
.catalog-detail-bundle .list-items,
.catalog-detail-suggest .list-items,
.catalog-session-seen .seen-items,
.catalog-session-pinned .pinned-items {
    padding: 0;
}



.account-watch .watch-item,
.account-favorite .favorite-item,
.basket-related-bought .product,
.catalog-detail-bought .product,
.catalog-detail-bundle .product,
.catalog-detail-suggest .product,
.catalog-session-seen .seen-item,
.catalog-session-pinned .pinned-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 160px;
    margin: 1%;
    padding: 0;
}

.account-watch .watch-item {
    min-width: 160px;
    max-width: 320px;
    width: 100%;
}

.account-watch a.watch-item {
    width: 160px;
    margin: 0;
}

.basket-related-bought .media-list,
.catalog-detail-bought .media-list,
.catalog-detail-bundle .media-list,
.catalog-detail-suggest .media-list,
.catalog-session-seen .media-list {
    background-color: #FFFFFF;
    background-image: url(media/aimeos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 213px;
    width: 160px;
}

.account-watch .media-item,
.account-favorite .media-item,
.basket-related-bought .media-item,
.catalog-detail-bought .media-item,
.catalog-detail-bundle .media-item,
.catalog-detail-suggest .media-item,
.catalog-session-seen .media-item,
.catalog-session-pinned .media-item {
    background-image: url(media/aimeos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 213px;
    width: 160px;
}

.account-watch .media-item img,
.account-favorite .media-item img,
.basket-related-bought .media-item img,
.catalog-detail-bought .media-item img,
.catalog-detail-bundle .media-item img,
.catalog-detail-suggest .media-item img,
.catalog-session-seen .media-item img,
.catalog-session-pinned .media-item img {
    position: relative;
    max-width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account-watch .name,
.account-favorite .name,
.basket-related-bought .name,
.catalog-detail-bought .name,
.catalog-detail-bundle .name,
.catalog-detail-suggest .name,
.catalog-session-seen .name,
.catalog-session-pinned .name {
    margin: 0;
    padding: 0;
    height: 3em;
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
    max-width: 15em;
    margin: auto;
}

.account-watch .modify,
.account-favorite .modify,
.catalog-session-pinned .modify {
    position: absolute;
    font-weight: bold;
    font-size: 150%;
    color: #D0D0D0;
    right: 0;
}

.account-watch .watch-details {
    display: inline-block;
    text-align: center;
    width: 116px;
    margin-top: 1.5em;
}

.account-watch .form-list label {
    width: 114px;
}

.account-watch .form-list input {
    width: 114px;
    height: 1em;
}

.account-watch .form-list select {
    width: 114px;
    font-size: 100%;
}

.account-watch .button-group {
    padding: 0;
}

.account-watch .btn {
    width: 100%;
}

.catalog-session-seen .count:before,
.catalog-session-pinned .count:before {
    content: " (";
}

.catalog-session-seen .count:after,
.catalog-session-pinned .count:after {
    content: ") ";
}


/* Basket */

/* Mini basket */
.basket-mini {
    background-color: transparent;
    color: #555;
}

.basket-mini h1 {
    display: none;
}

.basket-mini > a {
    display: inline-block;
    white-space: nowrap;
    padding: 0.75em 1em;
}

.basket-mini > a:before {
    font: normal normal normal 14px/1 FontAwesome;
    vertical-align: middle;
    content: "\f07a";
    font-size: 150%;
    color: #77d0e4;
}

.basket-mini-main {
    display: inline-block;
    color: #77d0e4;
}

.basket-mini-main .quantity {
    display: block;
}

.basket-mini-main .quantity:before {
    content: " (";
}

.basket-mini-main .quantity:after {
    content: ") ";
}

.basket-mini-main .value {
    display: none;
}

.basket-mini-product {
    display: inline;
}

.basket-mini-product .basket-toggle {
    font: normal normal normal 14px/1 FontAwesome;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #B0A060;
    color: #FFF;
    padding: 1em;
}

.basket-mini-product .basket-toggle.toggle-close:after {
    content: "\f0d7";
    color: #77d0e4;
}

.basket-mini-product .basket-toggle.toggle-open:after {
    content: "\f0d7";
    color: #77d0e4;
}

.basket-mini-product .basket {
    right: 15px;
    margin-top: 15px;
    border-radius: 4px;
    padding: 15px;
    background-color: #77d0e4;
    position: absolute;
    display: none;
    opacity: 1.0;
    z-index: 2;
}

.basket::before {
    border-bottom: 10px solid #77d0e4;
}

.basket::before {
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    position: absolute;
    right: 25px;
    top: -9px;
    width: 0;
}

.basket-mini-product tr {
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
}

.basket-mini-product th,
.basket-mini-product td {
    padding: 1em 0;
}

.basket-mini-product th,
.basket-mini-product .basket .quantity {
    text-align: center;
}

.basket-mini-product .basket .name {
    text-align: left;
    width: 50%;
}

.basket-mini-product .basket .price {
    white-space: nowrap;
    text-align: right;
}

.basket-mini-product .basket .action {
    padding-left: 1em;
    font-weight: bold;
}

.basket-mini-product .basket .delete:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f014";
}

.basket-mini-product .basket-header tr {
    border-bottom: 1px solid #D0D0D0;
}

.basket-mini-product tr.delivery,
.basket-mini-product tr.total {
    border-top: 1px solid #D0D0D0;
    font-weight: bold;
}

.basket-mini-product .delivery .name:before {
    content: "+ ";
}

.basket-mini-product .total .name:before {
    content: "= ";
}

.basket-mini-product .checkout .button {
    text-align: center;
}






/* Basket bulk order */

.basket-bulk thead>tr>th,
.basket-bulk tbody>tr>td {
    vertical-align: middle;
}

.basket-bulk table th.quantity,
.basket-bulk table th.price {
    text-align: center;
}

.basket-bulk table th.product,
.basket-bulk table td.product {
    width: 50%;
}

.basket-bulk table th.quantity {
    text-align: center;
    width: 15%;
}

.basket-bulk table td.quantity {
    width: 15%;
}

.basket-bulk table td.quantity input {
    text-align: right;
}

.basket-bulk table th.price {
    text-align: center;
    width: 25%;
}

.basket-bulk table td.price {
    text-align: right;
    width: 25%;
}

.basket-bulk table th.buttons,
.basket-bulk table td.buttons {
    vertical-align: middle;
    text-align: center;
    width: 10%;
}

.basket-bulk .minibutton {
    color: #ba9a5a;
    padding: 0 0.5em;
    line-height: 1;
    width: 2em;
}

.basket-bulk .minibutton.add:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 100%;
    content: "\f067";
    display: inline-block;
}

.basket-bulk .minibutton.delete:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 125%;
    content: "\f014";
    display: inline-block;
}


/* Checkout */
.checkout-standard .steps {
    font-weight: bold;
    text-align: center;
    counter-reset: step;
    padding: 0 0 3em 0;
}

.checkout-standard .steps a {
    text-decoration: none;
}

.checkout-standard .steps .active {
    color: #D0D0D0;
    border-bottom: solid 8px #D0D0D0;
}

.checkout-standard .steps .current {
    color: #555;
    border-bottom: solid 8px #555;
}

.checkout-standard .steps .order,
.checkout-standard .steps .process {
    display: none;
}

.checkout-standard .steps .active:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 125%;
    content: "\f00c";
    width: 1em;
    height: 1em;
    margin: 0 0.5em;
    display: inline-block;
}

.checkout-standard .step {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 19%;
    color: #d3dbde;
    border-bottom: solid 8px #d3dbde;
    vertical-align: baseline;
}

.checkout-standard .step:before {
    content: counter(step) ". ";
    counter-increment: step;
}

.checkout-standard .form-list .mandatory {
    font-weight: bold;
}

.checkout-standard .form-list .mandatory > label:after {
    content: " *";
}

.checkout-standard .item-service .description {
    display: inline-block;
    vertical-align: top;
    min-width: 240px;
    max-width: 480px;
    padding: 0.5em 0;
    width: 100%;
}

.checkout-standard .item-service .description h2 {
    font-size: 110%;
}

.checkout-standard .item-service .description .short {
    font-weight: bold;
    padding: 0.5em 0;
}

.checkout-standard .item-service .description .long {
    padding: 0.5em 0;
}

.checkout-standard .item-service .description h2,
.checkout-standard .item-service .description p {
    margin: 0 1em;
}

.checkout-standard .item-service .description h2,
.checkout-standard .item-service .icons {
    display: inline-block;
}

.checkout-standard .item-service .icons img {
    max-height: 4em;
    margin: 0 1em;
}

.checkout-standard .item-service .option {
    margin: 1em;
}

.checkout-standard .item-service .price-value {
    float: right;
    margin: 1em;
    font-size: 100%;
}

.checkout-standard .button-group {
    display: none;
}

.checkout-standard section:last-child .button-group {
    display: block;
}

/* Checkout address */
.checkout-standard-address h2 {
    padding: 1%;
}

.checkout-standard-address .item-address {
    padding: 1%;
}

.checkout-standard-address .item-address .header {
    background-color: #F0F0F0;
    padding: 1em 1%;
}

.checkout-standard-address .item-address .modify {
    float: right;
}

.checkout-standard-address .item-address .header input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
    border: none;
    margin: 0;
}

.checkout-standard-address .item-address .values {
    display: inline-block;
    margin: 0;
}

.checkout-standard .form-list .mandatory,
.checkout-standard .form-list .optional,
.checkout-standard .form-list .hidden,
.checkout-standard .form-list .error,
.checkout-standard .attr-list .mandatory,
.checkout-standard .attr-list .optional,
.checkout-standard .attr-list .hidden,
.checkout-standard .attr-list .error {
    clear: both;
}

.checkout-standard-address .form-list .form-item {
    display: none;
}

.checkout-standard-address .form-list .mandatory,
.checkout-standard-address .form-list .optional {
    display: list-item;
}

.checkout-standard-address .form-list .hidden {
    display: none;
}

.checkout-standard-address .form-list .mandatory label:after {
    content: "*";
}

.checkout-standard .form-list .error {
    color: #FF3300;
}

.checkout-standard .form-list .error a {
    color: #FF3300;
}

.checkout-standard .form-list .error input,
.checkout-standard .form-list .error select {
    background-color: #ffeeee;
    border: solid 1px #FF3300;
}

.checkout-standard .form-list .success input,
.checkout-standard .form-list .success select {
    background-color: #bbffbb;
}

.checkout-standard .form-item label {
    border-left: 2px solid transparent;
    padding-left: 1em;
    margin-bottom: 7px;
    margin-top: 7px;
}

.checkout-standard .item-service .icon {
    display: inline-block;
}

.checkout-standard .item-service li.form-item {
    padding-top: 0;
}

.checkout-standard .item-service .form-item-value input {
    display: none;
}

.checkout-standard .item-service .form-item-value label {
    display: block;
}

.checkout-standard .item-service .form-item-value input:checked + label {
    border-left: 2px solid #D0D0D0;
    background-color: #F0F0F0;
}

/* Checkout delivery/payment */
.checkout-standard-delivery .note,
.checkout-standard-payment .note {
    padding: 0 0 1em 0;
}

.checkout-standard-delivery h2,
.checkout-standard-payment h2 {
    font-size: 1em;
}

.checkout-standard-delivery .item,
.checkout-standard-payment .item {
    border: solid 1px #D0D0D0;
    margin: 1em 0.5em;
    text-align: left;
}

.checkout-standard-delivery .item-service .price-value,
.checkout-standard-payment .item-service .price-value {
    margin: 1.25em;
}

/* Checkout summary */
.checkout-standard-summary h3 {
    display: inline-block;
    font-size: 1em;
    margin: 0;
}

.checkout-standard-summary a:hover {
    text-decoration: underline;
}

.checkout-standard-summary .note {
    padding: 0 0 1em 0;
}

.checkout-standard-summary .modify {
    float: right;
}




@media (max-width: 480px) {
    .aimeos .common-summary-detail td.quantity .change {
        display: block;
    }

    .aimeos .common-summary-detail .unitprice {
        display: table-column;
        width: 0;
    }
}


/* Checkout summary option terms */
.checkout-standard-summary-option {
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.checkout-standard-summary-option h3 {
    margin: 0;
    padding: 0.5em;
    display: block;
}

.checkout-standard-summary-option p {
    display: inline;
    margin-left: 1em;
}

.checkout-standard-summary-option .single {
    padding: 0.5em 0;
}

.checkout-standard-summary-option label,
.checkout-standard-summary-option input {
    display: inline;
}

.checkout-standard-summary-option input[type="checkbox"] {
    margin-left: 0.5em;
}


/* Checkout order */
.checkout-standard-order {
    padding: 0 0 0 1em;
}

.checkout-standard-order .form-list .mandatory {
    font-weight: bold;
    display: list-item;
}

.checkout-standard-process {
    text-align: center;
}

.checkout-standard-process p {
    margin: 1em 0;
}

.checkout-standard-process .button-group {
    display: block;
}

.checkout-standard,
.checkout-confirm {
    min-width: 240px;
    margin: 0 auto;
}

/* Checkout confirm basic part */
.checkout-confirm-basic {
    padding: 0 1em 1em 1em;
    border: solid 1px #D0D0D0;
    margin: 0 0 8px 0;
    margin-top: 1.5em;
}

.checkout-confirm-basic .attr-list .name,
.checkout-confirm-basic .attr-list .value {
    display: inline-block;
    width: 218px;
}

/* Account profile */
.account-profile .prototype {
    display: none;
}

.account-profile .panel {
    box-shadow: none;
    border: none;
}

.account-profile .panel-heading a {
    text-decoration: none;
    display: inline-block;
}

.account-profile .panel-heading .act-show.fa:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f078";
}

.account-profile .panel-heading .act-delete .fa:after,
.account-profile .panel-heading .act-hide .fa:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f014";
}

.account-profile .panel-heading .act-delete,
.account-profile .panel-heading .act-hide,
.account-profile-address .act-new {
    padding: 5px;
    float: right;
}

.account-profile-address .act-new {
    text-decoration: none;
    margin-right: 10px;
    margin-top: 15px;
}

.account-profile-address .act-new:after {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f067";
}

.account-profile li.form-item.mandatory label {
    font-weight: bold;
}

.account-profile li.form-item label {
    font-weight: normal;
    margin: 7px 0;
}

.account-profile .form-list .error {
    color: #FF3300;
}

.account-profile .form-list .error a {
    color: #FF3300;
}

.account-profile .form-list .error input,
.account-profile .form-list .error select {
    background-color: #ffeeee;
    border: solid 1px #FF3300;
}


/* Account history */
.account-history {
    margin: 0 auto;
}

.account-history-list .history-list {
    list-style: none;
    padding: 0;
}

.account-history-list .history-item {
    border: solid 1px #D0D0D0;
    margin: 1em;
}

.account-history-list .attr-item {
    padding: 0.25em 1em;
}

.account-history-list li.attr-item .name:after {
    content: ": ";
}

.account-history-order {
    padding-top: 1em;
}

.account-history-order a:hover {
    text-decoration: underline;
}

.account-history-order .modify {
    float: right;
    margin: 0 1em;
}

.account-history-order h2 {
    margin: 0.5em 0;
}

.account-history-order h3 {
    display: inline-block;
    font-size: 1em;
    margin: 0;
}

.account-history-order li.attr-item .name,
.account-history-order li.attr-item .value {
    min-width: 0;
}

/* Account subscription */
.account-subscription {
    margin: 0 auto;
}

.account-subscription-list .subscription-list {
    list-style: none;
    padding: 0;
}

.account-subscription-list .subscription-item {
    border: solid 1px #D0D0D0;
    margin: 1em;
}

.account-subscription-list .attr-list {
    padding: 0.25em 0;
}

.account-subscription-list .attr-item {
    padding: 0.25em 1em;
}

.account-subscription-list .attr-item .name:after {
    content: ": ";
}

.account-subscription-list .subscription-cancel {
    text-align: center;
}

.account-subscription-list .subscription-cancel .delete {
    display: block;
    margin: 0.5em 0;
}

.account-subscription-list .subscription-cancel .delete:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f014";
}

.account-subscription-detail {
    padding-top: 1em;
}

.account-subscription-detail a:hover {
    text-decoration: underline;
}

.account-subscription-detail .modify {
    float: right;
    margin: 0 1em;
}

.account-subscription-detail h2 {
    margin: 0.5em 0;
}

.account-subscription-detail h3 {
    display: inline-block;
    font-size: 1em;
    margin: 0;
}


.account-subscription-detail .attr-item .name,
.account-subscription-detail .attr-item .value {
    min-width: 0;
}


/*! jQuery UI - v1.10.0 - 2013-01-17
* http://jqueryui.com
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers */
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    color: #000000;
    display: none;
}

/* Interaction Cues */
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

.ui-autocomplete li {
    list-style: none;
    padding: 0 5px 2px 5px;
}

.ui-autocomplete li  a {
    cursor: pointer;
}

.ui-autocomplete-input {
    margin: 0;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.ui-menu-item:hover {
    background-color: #B0A060;
    color: #FFFFFF;
}

.ui-menu-item:focus, .ui-state-active {
    background: #B0A060;
    color: #ffffff;
}


/* Component containers */
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff url(media/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}


/* Datepicker */
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
}



/* Slick slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
