<?php

/**
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Aimeos (aimeos.org), 2019
 */

/** Available data
 * - summaryBasket : Order base item (basket) with addresses, services, products, etc.
 * - summaryTaxRates : List of tax values grouped by tax rates
 * - summaryNamedTaxes : Calculated taxes grouped by the tax names
 * - summaryShowDownloadAttributes : True if product download links should be shown, false if not
 * - summaryCostsDelivery : Sum of all shipping costs
 * - summaryCostsPayment : Sum of all payment costs
 */


$enc = $this->encoder();
$order = $this->extOrderItem;

$msg = $msg2 = '';
$key = 'pay:' . $order->getPaymentStatus();
$status = $this->translate( 'mshop/code', $key );
$format = $this->translate( 'client', 'Y-m-d' );

switch( $order->getPaymentStatus() )
{
	case 3:
		/// Payment e-mail intro with order ID (%1$s), order date (%2$s) and payment status (%3%s)
		$msg = $this->translate( 'client', 'The payment for your order %1$s from %2$s has been refunded.' );
		break;
	case 4:
		/// Payment e-mail intro with order ID (%1$s), order date (%2$s) and payment status (%3%s)
		$msg = $this->translate( 'client', 'Thank you for your order %1$s from %2$s.' );
		$msg2 = $this->translate( 'client', 'The order is pending until we receive the final payment. If you\'ve chosen to pay in advance, please transfer the money to our bank account with the order ID %1$s as reference.' );
		break;
	case 6:
		/// Payment e-mail intro with order ID (%1$s), order date (%2$s) and payment status (%3%s)
		$msg = $this->translate( 'client', 'Thank you for your order %1$s from %2$s.' );
		$msg2 = $this->translate( 'client', 'We have received your payment, and will take care of your order immediately.' );
		break;
	default:
		/// Payment e-mail intro with order ID (%1$s), order date (%2$s) and payment status (%3%s)
		$msg = $this->translate( 'client', 'Thank you for your order %1$s from %2$s.' );
}

$message = sprintf( $msg, $order->getId(), date_create( $order->getTimeCreated() )->format( $format ), $status );
$message .= "\n" . sprintf( $msg2, $order->getId(), date_create( $order->getTimeCreated() )->format( $format ), $status );

/// Price format with price value (%1$s) and currency (%2$s)
$priceFormat = $this->translate( 'client', '%1$s %2$s' );


?>
<?php $this->block()->start( 'email/payment/html' ); ?>
<mjml>
	<mj-head>
		<mj-title><?= $enc->html( sprintf( $this->translate( 'client', 'Your order %1$s' ), $order->getId() ), $enc::TRUST ); ?></mj-title>
		<mj-style>
			<?= $this->get( 'htmlCss' ); ?>
		</mj-style>
	</mj-head>
	<mj-body css-class="aimeos">
		<mj-section>
			<mj-column>
				<mj-image css-class="logo" src="<?= $this->config('client/html/common/content/baseurl', 'packages/aimeos/shop/themes/own/assets/img/logo') ?>/logo.png" align="center"/>
			</mj-column>
		</mj-section>
		<mj-section>
			<mj-column>
				<mj-text css-class="email-common-salutation">
					<?= $enc->html( $this->get( 'emailIntro' ) ); ?>
				</mj-text>
				<mj-text css-class="email-common-intro">
					<?= nl2br( $enc->html( $message, $enc::TRUST ) ); ?>
				</mj-text>
			</mj-column>
		</mj-section>
		<mj-include path="../common/html-summary-partial.mjml" />
		<mj-section css-class="email-common-outro">
			<mj-column>
				<mj-text>
					<?= $enc->html( nl2br( $this->translate( 'client', 'If you have any questions, please reply to this e-mail' ) ), $enc::TRUST ); ?>
				</mj-text>
			</mj-column>
		</mj-section>
		<mj-section css-class="email-common-legal">
			<mj-column>
				<mj-text>
					<?= nl2br( $enc->html( $this->translate( 'client', 'All orders are subject to our terms and conditions.' ), $enc::TRUST ) ); ?>
				</mj-text>
			</mj-column>
		</mj-section>
	</mj-body>
</mjml>
<?php $this->block()->stop(); ?>
<?= $this->block()->get( 'email/payment/html' ); ?>
