/*
 * Shared CSS between website and e-mails
 *
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Aimeos (aimeos.org), 2014
 */

 a {
	color: #B0A060;
}

.logo img {
	max-width: 300px;
	margin: auto;
}


li.attr-item {
	list-style: none;
	padding: 0;
	margin: 0;
}


/* Account creation */

.account-login .btn-primary tr {
	background: #ba9a5a;
	color: #ffffff;
}


/* Common summary */
.common-summary .item {
	vertical-align: top;
}

.common-summary .content {
	padding: 0.5em;
	margin: 10px;
}

.common-summary .item h3 {
	border-bottom: solid 1px #77d0e4;
	padding: 0.5em;
	margin: 10px;
}

.common-summary .item h4 {
	vertical-align: middle;
	display: inline-block;
	font-size: 1em;
	margin: 0.5em 0;
	padding: 0;
	color: #555;
}

.common-summary .item li {
	vertical-align: top;
	padding: 0;
}

.common-summary .item .name {
	padding: 0.25em 0;
	display: block;
	color: #555;
}

.common-summary .item .value {
	display: block;
}

.common-summary .item .attr-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 0.5;
}

.basket {
	padding: 10px !important;
}

.basket th,
.basket td {
	vertical-align: middle;
	padding: 0.5em;
}

.basket .header {
	font-weight: bold;
	background-color: #F0F0F0;
	border-bottom: 1px solid #D0D0D0;
	color: #555;
}

.basket .body {
	border-bottom: 1px solid #D0D0D0;
}

.basket th.label {
	text-align: left;
}

.basket td.quantity {
	white-space: nowrap;
	text-align: center;
}

.basket td.price {
	text-align: right;
	white-space: nowrap;
}

.basket .product .product-image {
	max-height: 150px;
}

.basket .product .product-name {
	margin: 0.5em 0;
	display: block;
}

.basket .product .code,
.basket .product .timeframe {
	margin: 0.5em;
}

.basket .product .attr-list {
	vertical-align: top;
	color: #555;
	margin: 0.5em;
	padding: 0;
}

.basket .product li.attr-item {
	display: inline;
}

.basket .product li.attr-item:not(:last-of-type) .value:after {
	content: ",";
}

.basket .footer {
	vertical-align: bottom;
}

.basket .subtotal {
	font-weight: bold;
	color: #555;
}

.basket .total {
	border-top: 1px solid #D0D0D0;
	background-color: #F0F0F0;
	font-weight: bold;
	color: #555;
}
